<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>
    Please choose one
  </h4>

  <ion-radio-group [(ngModel)]="selection"
                   [value]="selection">

    <ion-row class="radio-tags">

      <ion-item class="radio-tag"
                lines="none"
                [class.item-checked]="isChecked(i)"
                *ngFor="let i of intentionOptions">

        <div class="radio-inner-wrapper">

          <!--<ion-label class="tag-label">
            {{i.label}}
          </ion-label>-->

          <ion-radio justify="start"
                     labelPlacement="end"
                     [value]="i.value">

            {{i.label}}

          </ion-radio>

        </div>

      </ion-item>

    </ion-row>

  </ion-radio-group>

</ion-content>
